# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/
content/about/ups-shot.jpg
.gitignore
content/about/me.jpeg
content/about/me.jpg
content/about/ups-shot.jpg
